.rubik {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
}

.rubik-cube {
    width: calc(100% / 8);
    aspect-ratio: 1/1;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30px */
    background-color: gold;
}

