.Header {
	text-align: center;
	padding: 1.5rem;
	background: #f0f0f0;

	h1 {
		font-size: 6rem;
		margin: 0.5rem auto;
		letter-spacing: 0.25rem;
		font-weight: 600;
		color: orange;
	}

	&__Subtitle {
		color: #555;
		font-weight: 600;
		font-size: 3rem;
	}

	&__Feedback {
		margin: 1rem;
		font-style: italic;
		font-size: 3rem;
		color: orange;
		font-weight: 500;
	}
}
