.Header {
    background: linear-gradient(90deg, #8e54e9, #4776e6);
	padding: 30px;

    &__Cats {
        font-size: 25px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 20px;
    }
	:global {
		.title {
			color: white;
			text-align: center;
			margin-bottom: 20px;
		}

		.container {
			text-align: center;
		}
	}

	
}
