.CatParadise { 
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
      margin: 0;
      width: 100%;
    }
  
    h2 {
      width: 100%;
    }
  
    div {
      border-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    div span {
      border: 1px dotted white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: greenyellow;
      font-size: 35px;
      font-weight: 700;
      width: 100px;
      height: 100px;
      margin: 5px
    }
  }